body {
    text-align: center;
}
article {
    display: block;
}

td a.beach {
    display: none;
}

tr,td,ul,li {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}
table a:visited {
    cursor: default;
}
article :focus {
    outline: 0;
}
table {
    margin: 5px;
    padding: 3px;
    counter-reset: bombs;
}

/* Basic box */
td {
    padding: 1px;
    width: 16px;
    height: 16px;
}

/* Number positioning */
td a.info span {
    font-size: 12px;
    position: absolute;
}

/* Make the whole box clickable */
table a {
    display: block;
    width: 100%;
    height: 16px;
}

/* By default, the box is shown empty */
table span {
    visibility: hidden;
}

.bomb {
    counter-increment: bombs;
}

/* Visited bombs are shown */
.bomb a.info:visited {
    display: block;
}

/* For a visited box, the text is shown */
table .beach:visited ~ a.info span,
table a.info:visited span {
    visibility: visible;
    display: block;
}
/* except for bombs */
table .bomb a.info:visited span {
    display: none;
}

/* Default flag styling */
.flag {
    display: none;
    background-repeat: no-repeat;
}

/* The flagging button */
td:hover .flag {
    position: absolute;
    display: inline;
    z-index: 500;
    margin-top: -3px;
    background-color: white;
    border: 1px solid black;
    opacity: 0.7;
}
td:hover .info:visited + .flag {
    display: none;
}

/* A flag that was set on a box */
a.flag:visited {
    display: block;
    position: absolute;
    counter-increment: bombs -1;
}

/* The "flag" word is never shown */
.flag span {
    display: none;
}
