@font-face {
    font-family: Digital;
    src: url('digital.ttf');
}

body {
    background-color: #008080;
    background-image: url(img/Windows95.jpg);
}

article:active #new {
    background-image: url(img/uhoh.png);
}

.bomb a.info:visited {
    background: url(img/mine.png) no-repeat;
    background-position: 1px 1px;
}

.flag {
    background-image: url(img/flag.png);
    background-position: 4px 4px;
    width: 16px;
    height: 16px;
}

a.flag:visited {
    margin-left: -2px;
    margin-top: -18px;
    border-top: 2px solid white;
    border-left: 2px solid white;
    border-bottom: 2px solid #808080;
    border-right: 2px solid #808080;
}

h1 {
    background-color: #0053e2;
    padding: 2px 0 2px 22px;
    margin: 0;
    color: white;
    font-weight: bold;
    font-size: 10pt;
    font-family: "Luxi sans", "Lucida Grande", Lucida, "Lucida Sans Unicode", sans-serif;
    text-align: left;
    background-image: url(img/minesweeper.png);
    background-repeat: no-repeat;
    text-shadow: 1px 1px 1px #000;
}

article a,
article h1 {
    cursor: default;
}
article {
    display: inline-block;
    position: relative;
    width: auto;
    background-color: #c6c3c6;
    border: 1px solid black;
    overflow: visible;
    margin: 30px auto 0 auto;
    border-left: 2px solid white;
    border-top: 2px solid white;
    border-bottom: 2px solid #888;
    border-right: 2px solid #888;
    -o-box-shadow: 5px 5px 5px #888;
    -icab-box-shadow: 5px 5px 5px #888;
    -khtml-box-shadow: 5px 5px 5px #888;
    -moz-box-shadow: 5px 5px 5px #888;
    -webkit-box-shadow: 5px 5px 5px #888;
    box-shadow: 5px 5px 5px #888;
}

a#new span {
    display: none;
}
a#new {
    margin: 2px auto;
    display: block;
    width: 26px;
    height: 26px;
    background: url(img/new.png) no-repeat;
}
a#new:target {
    background: url(img/lose.png) no-repeat;
}

/* Menu */
ul#menu {
    font-size: .7em;
    text-align: left;
    background-color: #bbb;
    padding: 3px;
    height: 1.2em;
    font-family: "Luxi sans", "Lucida Grande", Lucida, "Lucida Sans Unicode", sans-serif;
}
ul#menu li {
    display: inline;
    padding: 3px 1ex;
    cursor: default;
    position: relative;
}
ul#menu li ul {
    display: none;
}
ul#menu:focus {
    outline: 0;
}
ul#menu li:hover {
    background-color: #33c;
    color: white;
}

ul#menu li ul li a {
    color: black;
}
ul#menu li ul li:hover a {
    color: white;
}
ul#menu li:hover ul {
    display: block;
    position: absolute;
    z-index: 300;
    background-color: #c6c6c6;
    border-right: 1px solid #444;
    border-bottom: 1px solid #444;
    border-top: 1px solid white;
    border-left: 1px solid white;
    left: 0;
    padding: 2px;
    margin: 2px 0 0 0;
}
ul#menu li ul li {
    display: block;
    margin: 0;
    padding: 1px 16px;
    white-space: nowrap;
}

td a.info span {
    font-family: "Luxi sans", "Lucida Grande", Lucida, "Lucida Sans Unicode", sans-serif;
    font-weight: bold;
}
.count-0 a:visited span {display: none; }
.count-0 a span { color: #c6c3c6; }
.count-1 a span { color: #0000ff; }
.count-2 a span { color: #008000; }
.count-3 a span { color: #ff0000; }
.count-4 a span { color: #000080; }
.count-5 a span { color: #800000; }
.count-6 a span { color: #008080; }
.count-7 a span { color: #840084; }
.count-8 a span { color: #008000; }

table {
    border-top: 3px solid #777;
    border-left: 3px solid #777;
    border-right: 3px solid white;
    border-bottom: 3px solid white;
    border-spacing: 0 0;
}
td {
    border-top: 1px solid white;
    border-left: 1px solid white;
    border-right: 1px solid #777;
    border-bottom: 1px solid #777;
}
td:hover {
    background-color: #bbb;
}

/* Counter */
table:after {
    content: counter(bombs, decimal-leading-zero);
    position: absolute;
    top: 45px;
    left: 0;
    margin: 0 0 0 5px;
    color: #f70001;
    font-family: digital, monospace;
    font-size: 25px;
    background-color: black;
    border-top: 1px solid #777;
    border-left: 1px solid #777;
    border-right: 1px solid white;
    border-bottom: 1px solid white;
    padding: 0 1px;
}
table a.info:visited span {
    border: 1px solid #c6c3c6;
    width: 18px;
    height: 18px;
    margin: -2px 0 0 -2px;
}
