@font-face {
    font-family: Digital;
    src: url('digital.ttf');
}

#timer {
    background-color: black;
    height: 25px;
    width: 44px;
    position: absolute;
    right: 0;
    top: 45px;
    border-top: 1px solid #777;
    border-left: 1px solid #777;
    border-right: 1px solid white;
    border-bottom: 1px solid white;
}

#timer-1, #timer-2, #timer-3 {
    float: left;
    margin-left: 2px;
    width: 12px;
    height: 25px;
    background-image: url(img/counter.png);
    background-position: 0 0px;
    -webkit-transition: background-position 1000s linear;
    -o-transition: background-position 1000s linear;
    -moz-transition: background-position 1000s linear;
    transition: background-position 1000s linear;
}
/* It should be 180, 1800, 18000 so that the counter stop at "999". Instead,
   we do a whole loop from "000" to "000", so that browsers that don't support
   transitions will keep showing "000". */
html:hover #timer-1 {
    background-position: 0 -200px;
}
html:hover #timer-2 {
    background-position: 0 -2000px;
}
html:hover #timer-3 {
    background-position: 0 -20000px;
}

body {
    background-color: #008080;
    background-image: url(img/Windows95.jpg);
}

#game:active #new {
    background-image: url(img/uhoh.png);
}

td.bomb a.info:visited {
    background: url(img/mine.png) no-repeat;
    background-position: 1px 1px;
}

.flag {
    background-image: url(img/flag.png);
    background-position: 4px 4px;
    width: 16px;
    height: 16px;
}

a.flag:visited {
    margin-left: -2px;
    margin-top: -2px;
    border-top: 2px solid white;
    border-left: 2px solid white;
    border-bottom: 2px solid #808080;
    border-right: 2px solid #808080;
}

article h1 {
    background-color: #0053e2;
    padding: 2px 0 2px 22px;
    margin: 0;
    color: white;
    font-weight: bold;
    font-size: 10pt;
    font-family: "Luxi sans", "Lucida Grande", Lucida, "Lucida Sans Unicode", sans-serif;
    text-align: left;
    text-shadow: 1px 1px 1px #000;
}

#game h1 {
    background-image: url(img/minesweeper.png);
    background-repeat: no-repeat;
}

#game a,
article h1 {
    cursor: default;
}
article {
    background-color: #c6c3c6;
    border: 1px solid black;
    border-left: 2px solid white;
    border-top: 2px solid white;
    border-bottom: 2px solid #888;
    border-right: 2px solid #888;
    -o-box-shadow: 5px 5px 5px #888;
    -icab-box-shadow: 5px 5px 5px #888;
    -khtml-box-shadow: 5px 5px 5px #888;
    -moz-box-shadow: 5px 5px 5px #888;
    -webkit-box-shadow: 5px 5px 5px #888;
    box-shadow: 5px 5px 5px #888;
}
#game {
    display: inline-block;
    position: relative;
    width: auto;
    overflow: visible;
    margin: 30px auto 0 auto;
}

a#new span {
    display: none;
}
a#new {
    margin: 2px auto;
    display: block;
    width: 26px;
    height: 26px;
    background: url(img/new.png) no-repeat;
}
a#new:target {
    background: url(img/lose.png) no-repeat;
}

/* Menu */
ul#menu {
    font-size: .7em;
    text-align: left;
    background-color: #bbb;
    padding: 3px;
    height: 1.2em;
    font-family: "Luxi sans", "Lucida Grande", Lucida, "Lucida Sans Unicode", sans-serif;
}
ul#menu li {
    display: inline;
    padding: 3px 1ex;
    cursor: default;
    position: relative;
}
ul#menu li ul {
    display: none;
}
ul#menu:focus {
    outline: 0;
}
ul#menu li:hover {
    background-color: #33c;
    color: white;
}

ul#menu li ul li a {
    color: black;
}
ul#menu li ul li:hover a {
    color: white;
}
ul#menu li:hover ul {
    display: block;
    position: absolute;
    z-index: 300;
    background-color: #c6c6c6;
    border-right: 1px solid #444;
    border-bottom: 1px solid #444;
    border-top: 1px solid white;
    border-left: 1px solid white;
    left: 0;
    padding: 2px;
    margin: 2px 0 0 0;
}
ul#menu li ul li {
    display: block;
    margin: 0;
    padding: 1px 16px;
    white-space: nowrap;
}

td.count a.info span {
    font-family: "Luxi sans", "Lucida Grande", Lucida, "Lucida Sans Unicode", sans-serif;
    font-weight: bold;
}
.count-1 a span { color: #0000ff; }
.count-2 a span { color: #008000; }
.count-3 a span { color: #ff0000; }
.count-4 a span { color: #000080; }
.count-5 a span { color: #800000; }
.count-6 a span { color: #008080; }
.count-7 a span { color: #840084; }
.count-8 a span { color: #008000; }

table {
    border-top: 3px solid #777;
    border-left: 3px solid #777;
    border-right: 3px solid white;
    border-bottom: 3px solid white;
    border-spacing: 0 0;
}
td {
    border-top: 1px solid white;
    border-left: 1px solid white;
    border-right: 1px solid #777;
    border-bottom: 1px solid #777;
}
td:hover {
    background-color: #bbb;
}

/* Counter */
table:after {
    content: counter(bombs, decimal-leading-zero);
    position: absolute;
    top: 45px;
    left: 0;
    margin: 0 0 0 5px;
    color: #f70001;
    font-family: digital, monospace;
    font-size: 25px;
    background-color: black;
    border-top: 1px solid #777;
    border-left: 1px solid #777;
    border-right: 1px solid white;
    border-bottom: 1px solid white;
    padding: 0 1px;
}
td.count .beach:visited ~ a.info span,
td.count a.info:visited span {
    border: 1px solid #c6c3c6;
    width: 18px;
    height: 18px;
    margin: -2px 0 0 -2px;
}

/* About */
#about {
    display: none;
    background-image: url(img/minesweeper-64.png);
    background-repeat: no-repeat;
    background-position: center 2.5em;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #c6c3c6;
    margin: 10% 25%;
    font-size: .5em;
    text-align: justify;
}

#about header + p {
    margin-top: 74px;
}

#about li {
    list-style-type: none;
}
#about p,#about ul,#about li {
    margin-left: 2ex;
    margin-right: 2ex;
}
#about li:before {
    content: "- ";
}
#about code {
    display: block;
    text-align: center;
}
#about:target {
    display: block;
}
.close {
    background: url(img/close.png) no-repeat;
}
.button {
    float: right;
    width: 16px;
    height: 16px;
    margin: 3px;
}
#about .close span {
    display: none;
}
